.container {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  background-color: aliceblue;
}

.bar {
  text-align: center;
  height: 2rem;
  width: 2rem;
}

.off {
  display: none;
}

li {
  display: block;
}
